@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.container {
  width: 1366px;
  margin: 0 auto;
  background: url(img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-between;
}

.header-logo-container {
  position: relative;
  margin: 51px 0px 0px 171px;
}

.link-logo {
  display: flex;
}

h1,
h2 {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 10px;
}

h1 {
  font-size: 29px;
  line-height: 29px;
}

h2 {
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  top: 31.5px;
}

a:hover img {
  content: url(./img/logo2hover.png);
}

a:hover h1,
a:hover h2 {
  color: #f26522;
}

.contact {
  margin: 46px 167px 22px 0px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.contact-link {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  transition: 0.3s;
}

.contact-link:hover {
  color: #f26522;
}

.tell {
  padding-top: 19px;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 62px;
  row-gap: 40px;
  justify-content: center;
  margin-bottom: 49px;
}

/* -----------------------Якось не дуже вдало вийшло------------------------ */

/* .root-image{
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #fff, #000000) 1 100%;
} */


.contant-gallery-item:hover .root-image-bottomText {
  color: #f26522;
}

.contant-gallery-item {
  position: relative;
  overflow: hidden;
}

.root-image-bottomText {
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  transition: 0.3s;
}

.contant-gallery-footer{
  text-align: center;
  margin-top: 20px;
}

.portfoli-gallery-hover {
  left: 1px;
  bottom: -60px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #f26522;
  transition: 0.25s;
}

.contant-gallery-item:hover .portfoli-gallery-hover{
  bottom: 43px;
}

.from,
.price,
.button {
  font-weight: 400;
  font-family: "Roboto";
  color: #ffffff;
}

.from {
  font-size: 10px;
  line-height: 10px;
  padding-top: 7px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.price {
  font-size: 20px;
  line-height: 20px;
  padding-left: 16px;
  padding-bottom: 12px;
}

.button {
  top: 30px;
  left: 180px;
  font-size: 14px;
  line-height: 14px;
  position: absolute;
}

 .button::after {
  content:""; 
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  position: absolute;
  transform: rotate(0.63turn);
  top: 3px;
  right: -23px;
} 
footer {
  text-align: center;
  padding-bottom: 15px;
}

.footer-span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  color: #ffffff;
}
